<ons-page id="addHomework" ng-controller="addHomeworkPageController">

    <ng-include src="'header.html'"></ng-include>

    <div style="text-align: center; margin-top: 80px;">
        <ons-list modifier="inset" class="addHomework_homeworkList" ng-cloak>
            <div ng-repeat="data in roomHomeworkList">
                <ons-list-item modifier="longdivider" class="{{data.is_visible ? '' : 'disabled'}}" >
                    <div class="left">
                        <ons-icon icon="fa-plus-square" class="list-item__icon"></ons-icon>
                    </div>
                    <div class="center">
                        {{data.home_work_name}}
                    </div>
                    <div class="right">
                        <div style="margin-right: 20px;">
                            <span class="hourLabel" style="width: 50px;">{{data.base_home_work_time_hh}}</span>
                            <span style="width: 50px;">H</span>
                        </div>
                        <div>
                            <ons-button class="btn_edit" ng-click="callEditPage($index)">編集</ons-button>
                        </div>
                    </div>
                </ons-list-item>
            </div>
            
            <ons-fab position="bottom right" ng-click="callEditPage()">
                <ons-icon icon="md-plus"></ons-icon>
            </ons-fab>
        </ons-list>
    </div>

    <!-- Edit Dialog -->
    <ons-template id="editPage.html">
        <ons-dialog var="dialog" modifier="material" cancelable>
            <div style="padding: 0 22px 22px 22px">

                <div style="margin-bottom: 20px; margin: auto;">
                    <span style="font-weight: 500;">新規家事追加</span>
                </div>

                <p style="">家事名</p>
                <div style="margin-bottom: 30px;">
                    <ons-input ng-model="editPageDialog.workname" modifier="underbar" required ng-minlength="1" ng-maxlength="20"></ons-input>
                </div>
                
                <p style="">基準時間</p>
                <div style="margin-bottom: 30px; text-align: center;">
                    <ons-button ng-click="editPageDialog.minusHour()">
                      <ons-icon icon="fa-minus-square" class="list-item__icon"></ons-icon>
                    </ons-button>
                    <span id="hourLabel" class="hourLabel margin-left-10 width-50px" ng-bind="editPageDialog.baseHomeworkTime"></span>
                    <ons-button ng-click="editPageDialog.plusHour()" class="margin-left-10">
                      <ons-icon icon="fa-plus-square" class="list-item__icon"></ons-icon>
                    </ons-button>
                </div>
                
                <p style="">トップ画面に表示</p>
                <div style="margin-bottom: 30px;">
                    <ons-switch id="isVisible" ng-model="editPageDialog.isVisible" ng-checked="editPageDialog.isVisible" ng-click="editPageDialog.clickVisible()" ng-disabled="!editPageDialog.roomHomeworkId"></ons-switch>
                    <span id="isDispTopListLabel" style="">{{editPageDialog.isVisible ? 'する' : 'しない'}}</span>
                </div>

                <p style="margin-bottom: 20px; text-align: center;">
                    <ons-button ng-click="editPageDialog.hide()">キャンセル</ons-button>
                    <ons-button ng-click="editPageDialog.insertRoomHomework()">登録</ons-button>
                    <ons-button ng-click="editPageDialog.deleteRoomHomework()" ng-disabled="!editPageDialog.roomHomeworkId">削除</ons-button>
                </p>
            </div>
        </ons-dialog>
    </ons-template>

</ons-page>
