<!-- Add Room Dialog -->
<ons-template id="addRoom.html">
    <ons-dialog var="dialog" modifier="material" cancelable>
        <div class="center toolbar__title ng-binding mainBackColor mainFont" style="height: 42px;">
            <span>参加する部屋情報を入力</span>
        </div>
        <div style="padding: 12px 12px 12px 12px;">
        <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
            <div class="left subFont margin-bottom-5">部屋名</div>
            <ons-input type="text" modifier="underbar" class="left bigFont margin-bottom-5" maxlength="100" ng-model="addRoomDialog.roomName"></ons-input>
            <div class="right subFont miniFont">{{ addRoomDialog.roomName.length }}/10</div>
        </div>
        <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
            <div class="left subFont margin-bottom-5">部屋番号</div>
            <ons-input type="text" modifier="underbar" class="left bigFont margin-bottom-5" ng-maxlength="4" ng-model="addRoomDialog.roomNumber"></ons-input>
            <div class="right subFont miniFont">{{ addRoomDialog.roomNumber.length }}/4</div>
        </div>
        </div>
        <div class="center margin-bottom-20">
            <ons-button ng-click="addRoomDialog.addRoom()" class="registerBtn" ng-if="!isEdit">参加</ons-button>
            <ons-button ng-click="addRoomDialog.hide()" class="margin-left-10 cancelBtn">キャンセル</ons-button>
        </div>
    </ons-dialog>
</ons-template>