<ons-page id="graph" ng-controller="graphPageController">

    <ng-include src="'header.html'"></ng-include>
    <ng-include src="'loading.html'"></ng-include>
    <ons-template id="chatByHomeworks.html">
        <div style="text-align: center; margin-top: 80px; min-height: 400px;" id="detect-area" >
            <div id="homework_chart_area_outer"  style="margin-bottom: 20px;">
                <canvas id="homework_chart_area" width="300" height="300"></canvas>
            </div>
            <div id="chatByHomeworks_nonData" style="display:none;">
                <ons-icon icon="fa-home" size="200px" class="subColor"></ons-icon><br>
                <label>家事がまだ入力されていません</label>
            </div>
        </div>
        
    </ons-template>
    <ons-template id="chatByUsers.html">
        <div style="text-align: center; margin-top: 80px; min-height: 400px;" id="detect-area" >
            <div id="user_chart_area_outer" style="margin-bottom: 20px;">
                <canvas id="user_chart_area" width="300" height="300"></canvas>
            </div>
            <div id="chatByUsers_nonData" style="display:none;">
                <ons-icon icon="fa-home" size="200px" class="subColor"></ons-icon><br>
                <label>家事がまだ入力されていません</label>
            </div>
        </div>
    </ons-template>
        
    <ons-tabbar var="graphTab" class="graphTab">
        <ons-tab label="家事" active="true" page="chatByHomeworks.html" ng-click="changeGraphType('chatByHomeworks')"></ons-tab>
        <ons-tab label="ユーザー" page="chatByUsers.html" ng-click="changeGraphType('chatByUsers')"></ons-tab>
    </ons-tabbar>

    <ons-popover direction="down" var="term_list" id="term_list" cancelable="true" cover-target="true">
          <ons-list class="pop">
            <ons-list-item name="month" ng-click="callJustMonth()">一ヶ月</ons-list-item>
            <ons-list-item name="yesterday" ng-click="callYesterDay()">昨日</ons-list-item>
            <ons-list-item name="today" ng-click="callToday()">今日</ons-list-item>
          </ons-list>
    </ons-popover>
</ons-page>
