<ons-toolbar class="mainBackColor">
    <div class="left toolbar__left">
        <ons-toolbar-button ng-click="mySplitter.left.open()" style="position: absolute; margin-left: 5px;">
            <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
    </div>
    <div class="center toolbar__center toolbar__title ng-binding">
        {{header.title}}
    </div>
    <div class="right toolbar__right">
        <ons-toolbar-button ng-click="gotoUserInfo()">
            <img src="{{iconurl}}" class="headerAccountIcon" id="accountIcon" ng-if="iconurl !== '' ">
            <div class="headerNonIcon"  id="nonIcon" ng-if="iconurl === '' ">
            </div>
        </ons-toolbar-button>
    </div>
</ons-toolbar>