<ons-page ng-controller="homeworkHistPageController" id="homeworkHist">

    <ng-include src="'header.html'"></ng-include>
    <ng-include src="'loading.html'"></ng-include>

    <div class="center" style="margin-top: 80px;">

    <!-- room homework List -->
    <div class="margin-bottom-20">
      <ons-list modifier="inset" class="homeworkList">
        <ons-list-header class="mainBackColor mainFont">
            <div>{{nowDate}}</div>
        </ons-list-header>
        <div ng-repeat="data in roomHomeworkHistList">
          <ons-list-item modifier="longdivider" ng-click="callEditPage($index)" tappable tap-background-color="gray">
            <div class="left">
              <ons-icon icon="fa-plus-square" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
              {{data.home_work_name}}
            </div>
            <div class="right">
              <span class="hourLabel">{{data.home_work_time_hh}}</span><span class="margin-left-5">H</span>
            </div>
          </ons-list-item>
        </div>
      </ons-list>
    </div>
    <ng-include src="'inputHomeWork.html'"></ng-include>
</ons-page>
