<ons-page ng-controller="homeworkHistPageController" id="homeworkHist">

    <ng-include src="'header.html'"></ng-include>

  <div class="center" style="margin-top: 80px;">

    <!-- room homework List -->
    <div class="margin-bottom-20">
      <ons-list modifier="inset" class="homeworkList">
        <ons-list-header class="mainBackColor mainFont">
            <div>{{nowDate}}</div>
        </ons-list-header>
        <div ng-repeat="data in roomHomeworkList">
          <ons-list-item modifier="longdivider" ng-click="callInputHomeWorkPage($index)" tappable tap-background-color="gray" ng-if="data.is_visible">
            <div class="left">
              <ons-icon icon="fa-plus-square" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
              {{data.home_work_name}}
            </div>
            <div class="right">
              <span class="hourLabel">{{data.home_work_time_hh}}</span><span class="margin-left-5">H</span>
            </div>
          </ons-list-item>
        </div>
      </ons-list>
    </div>

    <!-- input homework time Dialog -->
    <ons-template id="inputHomeWork.html">
        <ons-dialog modifier="material" cancelable var="inputHomeWork">
            <div class="center mainBackColor mainFont" style="height: 50px;">
                <span style="position: absolute; top: 12px; left: 90px;">家事履歴登録</span>
            </div>
            <div style="padding: 12px 12px 12px 12px;">
                <div class="right" style="margin-bottom: 50px;">
                    <ons-button class="deleteBtn">削除</ons-button>
                </div>
                <div class="center">
                    <div class="bigFont" style="margin-bottom: 20px;">{{homeworkName}}</div>
                    
                    <div class="center">
                        <p style="padding-bottom: 20px; float: left; margin-left: 10px;">
                            <ons-button ng-click="inputHomeWork.minusHour()" class="minusBtn">
                                <ons-icon icon="fa-minus" size="20px" style="color: #FFFFFF"></ons-icon>
                            </ons-button>
                        </p>
                        <span id="hourLabel" class="biggestFont hourLabel margin-left-10" ng-bind="homeworkTimeHH"></span>
                        <p style="padding-bottom: 20px; float: right; margin-right: 10px;">
                            <ons-button ng-click="inputHomeWork.plusHour()" class="margin-left-10 plusBtn">
                                <ons-icon icon="fa-plus" size="20px" style="color: #FFFFFF"></ons-icon>
                            </ons-button>
                        </p>
                    </div>
                </div>
                <div class="center margin-bottom-20 margin-top-100">
                    <ons-button ng-click="inputHomeWork.register(roomHomeworkId)" class="registerBtn">登録</ons-button>
                    <ons-button ng-click="inputHomeWork.hide()" class="margin-left-10 cancelBtn">キャンセル</ons-button>
                </div>
            </div>
        </ons-dialog>
    </ons-template>

</ons-page>
