<ons-page ng-controller="signinPageController">

    <div class="center">ほーむわーくアプリ</div>
    
    <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
        <div class="left subFont margin-bottom-5">ユーザー名</div>
        <ons-input type="text" class="left bigFont margin-bottom-5" ng-model="userName"></ons-input>
        <div class="right subFont miniFont">{{ userName.length }}/10</div>
    </div>
    <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
        <div class="left subFont margin-bottom-5">部屋名</div>
        <ons-input class="left bigFont margin-bottom-5"></ons-input>
        <div class="right subFont miniFont">0/10</div>
    </div>
    <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
        <div class="left subFont margin-bottom-5">部屋番号</div>
        <ons-input type="number" class="left bigFont margin-bottom-5" ></ons-input>
        <div class="right subFont miniFont">0/4</div>
    </div>
    <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
        <div class="left subFont margin-bottom-5">部屋切替</div>
        <ons-select select-id="my-id" class="bigFont" style="width: 300px;">
            <option value="1">佐藤さんち</option>
            <option value="2">畠山家</option>
        </ons-select>
    </div>

  <div style="text-align: center; 
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: scroll;">
    
    
    <p>
      <ons-button ng-click="googleLogin()" class="mainBackColor">
        <ons-icon icon="fa-google" style="margin-right: 10px;"></ons-icon>
        Googleでログイン
      </ons-button>
    </p>
    <p>
      <ons-button ng-click="testLogin()" class="mainBackColor">
        <ons-icon icon="fa-link" style="margin-right: 10px;"></ons-icon>
        テスト用ログイン
      </ons-button>
    </p>
    <p>
      <ons-button ng-click="callDialog()" class="mainBackColor">
        <ons-icon icon="fa-link" style="margin-right: 10px;"></ons-icon>
        テスト用ダイアログ
      </ons-button>
    </p>
    <p class="subColor">
        Ver 0.0.1
    </p>
  </div>

</ons-page>
