<ons-page ng-controller="signinPageController">
  <ons-toolbar>
    <div class="center">ほーむわーくアプリ</div>
  </ons-toolbar>

  <div style="text-align: center; margin-top: 30px;">
    <p style="margin-top: 30px;">
      <ons-button ng-click="fbLogin()" style="width:293px;background-color: #006284;">
        <ons-icon icon="fa-facebook-official" style="margin-right: 10px;"></ons-icon>
        FaceBookでログイン
      </ons-button>
    </p>
    <p>
      <ons-button ng-click="googleLogin()" style="width:293px;background-color: #006284;">
        <ons-icon icon="fa-google" style="margin-right: 10px;"></ons-icon>
        Googleでログイン
      </ons-button>
    </p>
    <p>
      <ons-button ng-click="invite()" style="width:293px;background-color: #006284;">
        <ons-icon icon="fa-link" style="margin-right: 10px;"></ons-icon>
        テスト用　素通りボタン
      </ons-button>
    </p>
    <p>
      <ons-button ng-click="callApi()" style="width:293px;background-color: #006284;">
        <ons-icon icon="fa-link" style="margin-right: 10px;"></ons-icon>
        API TEST
      </ons-button>
    </p>
  </div>

</ons-page>
