<ons-page id="member" ng-controller="memberPageController">

    <ng-include src="'header.html'"></ng-include>
    <ng-include src="'loading.html'"></ng-include>

    <div class="center" style="margin-top: 80px;">

        <!-- member List -->
        <div class="margin-bottom-20">
          <ons-list modifier="inset" class="memberList">
            <ons-list-header class="mainBackColor mainFont">
                <div>メンバ一覧</div>
            </ons-list-header>
            <div class="scroll_list_for_member_list">
                <div ng-repeat="data in roomMemberList">
                  <ons-list-item modifier="longdivider">
                    <div class="left">
                          {{data.user_name}}
                    </div>
                    <div class="right">
                        <label ng-if="data.is_owner">部屋オーナー</label>
                        <ons-button ng-click="removeMember($index)" class="deleteBtn" ng-if="!data.is_owner" ng-disabled="roomInfo.is_owned != 1">除外</ons-button>
                    </div>
                  </ons-list-item>
                </div>
            </div>
          </ons-list>
        </div>
    </div>
</ons-page>
