<ons-page ng-controller="menuPageController">
    <ons-list>
        <ons-list-item ng-click="splitter.load('top.html')" tappable>
            家事入力
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('homework_hist.html')" tappable>
            家事履歴
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('graph.html')" tappable>
            結果表示
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('add_homework.html')" tappable>
            家事編集
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('member.html')" tappable>
            メンバー管理
        </ons-list-item>
        <ons-list-item ng-click="splitter.load('setting.html')" tappable>
            設定
        </ons-list-item>
        <ons-list-item ng-click="signout()" tappable>
            サインアウト
        </ons-list-item>
    </ons-list>
</ons-page>
