<ons-page ng-controller="menuPageController" id="menuPage">
    <img src="{{iconurl}}" class="headerAccountIcon" id="accountIcon" ng-if="iconurl !== ''" ng-click="gotoUserInfo()">
    <div class="headerNonIcon"  id="nonIcon" ng-if="iconurl === '' "></div>
    <div style="font-size: 12px;">
      あゆむ
    </div>
    <div style="font-size: 12px; margin-bottom: 15px;">
      Hataの部屋
    </div>
    <ons-list>
        <ons-list-item ng-click="gotoTop()" tappable>
          <ons-icon icon="fa-plus-square" class="margin-right-10"></ons-icon>
          家事入力
        </ons-list-item>
        <ons-list-item ng-click="gotoHomeworkHist()" tappable>
          <ons-icon icon="ion-clipboard" class="margin-right-10"></ons-icon>
            家事履歴
        </ons-list-item>
        <ons-list-item ng-click="gotoGraph()" tappable>
          <ons-icon icon="fa-pie-chart" class="margin-right-10"></ons-icon>
            家事グラフ
        </ons-list-item>
        <ons-list-item ng-click="gotoAddHomework()" tappable>
          <ons-icon icon="fa-edit" class="margin-right-10"></ons-icon>
            家事設定
        </ons-list-item>
        <ons-list-item ng-click="gotoMember()" tappable>
          <ons-icon icon="fa-home" class="margin-right-10"></ons-icon>
            メンバ管理
        </ons-list-item>
        <ons-list-item ng-click="gotoSetting()" tappable>
          <ons-icon icon="fa-cogs" class="margin-right-10"></ons-icon>
            設定
        </ons-list-item>
        <ons-list-item ng-click="signout()" tappable>
          <ons-icon icon="fa-sign-out" class="margin-right-10"></ons-icon>
            サインアウト
        </ons-list-item>
    </ons-list>
</ons-page>
