<ons-page ng-controller="menuPageController">
    <ons-list>
        <ons-list-item ng-click="gotoTop()" tappable>
            家事入力
        </ons-list-item>
        <ons-list-item ng-click="gotoHomeworkHist()" tappable>
            家事履歴
        </ons-list-item>
        <ons-list-item ng-click="gotoGraph()" tappable>
            結果表示
        </ons-list-item>
        <ons-list-item ng-click="gotoAddHomework()" tappable>
            家事編集
        </ons-list-item>
        <ons-list-item ng-click="gotoMember()" tappable>
            メンバー管理
        </ons-list-item>
        <ons-list-item ng-click="gotoSetting()" tappable>
            設定
        </ons-list-item>
        <ons-list-item ng-click="signout()" tappable>
            サインアウト
        </ons-list-item>
    </ons-list>
</ons-page>
