<ons-page ng-controller="userInfoPageController" id="setting">

    <ng-include src="'header.html'"></ng-include>
    <ng-include src="'loading.html'"></ng-include>

    <div class="center" style="margin-top: 80px;">

        <div class="center margin-bottom-10" style="width: 300px; margin: auto;">
            <div class="left subFont margin-bottom-5">ユーザー名</div>
            <ons-input class="left bigFont margin-bottom-5 pinkFont" ng-model="userName" maxlength="100"></ons-input>
        </div>
        <div class="center margin-bottom-20 margin-top-40">
            <ons-button ng-click="register()" class="registerBtn">保存</ons-button>
        </div>
    </div>
</ons-page>
